## I. Source

- Link Video: https://www.youtube.com/watch?v=byHcYRpMgI4
- SQLite3 Documentation: https://docs.python.org/3/library/sqlite3.html

## II. Import Module

In [1]:
import sqlite3

## III. Create Connection to Database

- Create a connection with the Database by using the syntax below: <br>
>```sqlite3.connect(<Name of the Database>)``` <br>

- If the Database we put in does not exist, SQLite3 would create a new one inside the current directory

In [3]:
# Create a Database named customer.db in the current directory
conn = sqlite3.connect('customer.db')

## IV. Create Table in new created Database

### Step 1: Create a Cursor

Cursor class is an instance using which you can **invoke methods** that execute SQLite statements, fetch data from the result sets of the queries.
[(Link)](https://www.tutorialspoint.com/python_data_access/python_sqlite_cursor_object.htm)

In [4]:
cursor = conn.cursor()

### Step 2: Create Table

To execute a SQL command, we use the syntax:
> ```cursor.execute("""SQL's Command""")```

In [11]:
# Create customers Table in the Customer Database created above
cursor.execute("""
DROP TABLE IF EXISTS customers""")

cursor.execute("""
CREATE TABLE customers (
    First_Name VARCHAR NOT NULL,
    Last_Name VARCHAR NOT NULL,
    Email VARCHAR NOT NULL
)
""")

### Step 3: Commit the changes

- In case of having many connections to the database, in order for other to see our modifiys, we need to commit our changes with the syntax:
>```connection.commit()``` <br>
- This method ```commit()``` will confirm the current transaction. If you don’t call this method, anything you did since the last call to commit() is not visible from other database connections. If you wonder why you don’t see the data you’ve written to the database, please check you didn’t forget to call this method.

In [13]:
# Commit the above command
conn.commit()

### Step 4: Close the Connection

- The last step would be closing the connection with our database. 
> ```connection.close()```
- It is an optional step. However, remember that this does not automatically call ```commit()```. If you just close your database connection without calling ```commit()``` first, your changes will be lost!

In [16]:
# Close the connection (Optional)
conn.close()

## V. Insert Data

### A. Insert Single Row

We could insert one single row or record at a time by using ```execute()``` command which allows us to perform one single SQL command per time

In [18]:
# Create Connection with the Database
conn = sqlite3.connect('customer.db')

# Create a Cursor for performing SQL Command
c = conn.cursor()

In [26]:
# Insert Row in the the Customer Table
c.execute("""
INSERT INTO customers VALUES ('Tien','Nguyen','tiennguyendm@gmail.com');""")

c.execute("""
INSERT INTO customers VALUES ('Alan','Wake','alan.wake@gmail.com')""")

c.execute("""
INSERT INTO customers VALUES ('Michel','Brown','michel.brown@gmail.com');""")

In [27]:
# Commit the changes
conn.commit()

### B. Insert Multiple Rows at one time

We could insert multiple rows or records at one time by using ```executemany()``` command which allows us to repeatedly execute a SQL statement.

#### Step 1: Create a List of Records

In [29]:
many_customers = [
    ('Wes','Brown','wes.brown@gmail.com'),
    ('Steven','Hoala','steven.hoala@gmail.com'),
    ('Dan','Chess','dan.chess@gmail.com')]

#### Step 2: Using ```executemany()```

- Syntax: <br>
> ```cursor.executemany("""SQL Commands""",List of Insert Values)```

In [30]:
c.executemany("""
INSERT INTO customers VALUES (?,?,?)""",many_customers)

- ```(?,?,?)``` in SQL means a Placeholder

In [32]:
# Commit changes
conn.commit()

## VI. Query and Fetch the Database

In [60]:
# Query the Database
c.execute("""
SELECT * FROM customers""")

In [39]:
# 1. See all results
print(c.fetchall())

[('Tien', 'Nguyen', 'tiennguyendm@gmail.com'), ('Tien', 'Nguyen', 'tiennguyendm@gmail.com'), ('Alan', 'Wake', 'alan.wake@gmail.com'), ('Michel', 'Brown', 'michel.brown@gmail.com'), ('Wes', 'Brown', 'wes.brown@gmail.com'), ('Steven', 'Hoala', 'steven.hoala@gmail.com'), ('Dan', 'Chess', 'dan.chess@gmail.com')]

In [43]:
# 2. See the the first result only
print(c.fetchone())

('Tien', 'Nguyen', 'tiennguyendm@gmail.com')

In [50]:
# 3. See selected numbers of rows 
print(c.fetchmany(3))

[('Alan', 'Wake', 'alan.wake@gmail.com'), ('Michel', 'Brown', 'michel.brown@gmail.com'), ('Wes', 'Brown', 'wes.brown@gmail.com')]

## VII. Format the Query Result

#### A. Get all column names in a Table

In [103]:
# Execute SQLite Command for pulling out all Column's Attributes
columns = c.execute("""
PRAGMA table_info(customers);""")

In [98]:
# See all the attributes
for i in columns:
    print(i)

(0, 'First_Name', 'VARCHAR', 1, None, 0)
(1, 'Last_Name', 'VARCHAR', 1, None, 0)
(2, 'Email', 'VARCHAR', 1, None, 0)

In [104]:
# Just take the column names
columns_name = [i[1] for i in columns]
columns_name

['First_Name', 'Last_Name', 'Email']

#### B. Slicing and Format with Queried Result

In [61]:
result = c.fetchall()

In [74]:
# Slicing the Queried Result
result[0]

('Tien', 'Nguyen', 'tiennguyendm@gmail.com')

In [64]:
result[0][1]

'Nguyen'

In [79]:
# Apply Loop for the Queried Result
print('NAME ' + '\t\t' + 'EMAIL')
print('------' + '\t\t' + '------')
for i in result:
    print(i[0]+' ' + i[1]+'\t'+i[2])

NAME 		EMAIL
------		------
Tien Nguyen	tiennguyendm@gmail.com
Tien Nguyen	tiennguyendm@gmail.com
Alan Wake	alan.wake@gmail.com
Michel Brown	michel.brown@gmail.com
Wes Brown	wes.brown@gmail.com
Steven Hoala	steven.hoala@gmail.com
Dan Chess	dan.chess@gmail.com

In [106]:
# Format to a Database
import pandas as pd
df = pd.DataFrame(result,columns=columns_name)
df

  First_Name Last_Name                   Email
0       Tien    Nguyen  tiennguyendm@gmail.com
1       Tien    Nguyen  tiennguyendm@gmail.com
2       Alan      Wake     alan.wake@gmail.com
3     Michel     Brown  michel.brown@gmail.com
4        Wes     Brown     wes.brown@gmail.com
5     Steven     Hoala  steven.hoala@gmail.com
6        Dan     Chess     dan.chess@gmail.com

## VIII. Primary Key

#### Select rowid or Primary Key in the Queried Result

In [107]:
full_results = c.execute("""
SELECT rowid,* FROM customers""")

In [108]:
for i in full_results:
    print(i)

(1, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(2, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(3, 'Alan', 'Wake', 'alan.wake@gmail.com')
(4, 'Michel', 'Brown', 'michel.brown@gmail.com')
(5, 'Wes', 'Brown', 'wes.brown@gmail.com')
(6, 'Steven', 'Hoala', 'steven.hoala@gmail.com')
(7, 'Dan', 'Chess', 'dan.chess@gmail.com')

## IX. Using Where Clause

In [111]:
filtered_result = c.execute("""
SELECT * FROM customers
WHERE First_Name LIKE 'T%'""")

In [112]:
for i in filtered_result:
    print(i)

('Tien', 'Nguyen', 'tiennguyendm@gmail.com')
('Tien', 'Nguyen', 'tiennguyendm@gmail.com')

In [113]:
filtered_result2 = c.execute("""
SELECT First_Name, Email FROM customers""")
for i in filtered_result2:
    print(i)

('Tien', 'tiennguyendm@gmail.com')
('Tien', 'tiennguyendm@gmail.com')
('Alan', 'alan.wake@gmail.com')
('Michel', 'michel.brown@gmail.com')
('Wes', 'wes.brown@gmail.com')
('Steven', 'steven.hoala@gmail.com')
('Dan', 'dan.chess@gmail.com')

## X. Update Record

In [115]:
c.execute(
"""
UPDATE customers SET First_Name='Hoo' WHERE Last_Name = 'Chess' 
""")

In [116]:
conn.commit()

In [117]:
new_result = c.execute("""
SELECT rowid,* FROM customers""")
for i in new_result:
    print(i)

(1, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(2, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(3, 'Alan', 'Wake', 'alan.wake@gmail.com')
(4, 'Michel', 'Brown', 'michel.brown@gmail.com')
(5, 'Wes', 'Brown', 'wes.brown@gmail.com')
(6, 'Steven', 'Hoala', 'steven.hoala@gmail.com')
(7, 'Hoo', 'Chess', 'dan.chess@gmail.com')

## XI. Delete Record

In [118]:
c.execute("""
DELETE FROM customers WHERE rowid=7""")

In [119]:
conn.commit()

In [120]:
deleted_result = c.execute("""
SELECT rowid,* FROM customers""")
for i in new_result:
    print(i)

(1, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(2, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(3, 'Alan', 'Wake', 'alan.wake@gmail.com')
(4, 'Michel', 'Brown', 'michel.brown@gmail.com')
(5, 'Wes', 'Brown', 'wes.brown@gmail.com')
(6, 'Steven', 'Hoala', 'steven.hoala@gmail.com')

## XII. Order the Result

In [121]:
ordered_result = c.execute("""
SELECT rowid,* FROM customers ORDER BY rowid DESC""")
for i in ordered_result:
    print(i)

(6, 'Steven', 'Hoala', 'steven.hoala@gmail.com')
(5, 'Wes', 'Brown', 'wes.brown@gmail.com')
(4, 'Michel', 'Brown', 'michel.brown@gmail.com')
(3, 'Alan', 'Wake', 'alan.wake@gmail.com')
(2, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(1, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')

In [122]:
name_ordered_result = c.execute("""
SELECT rowid,* FROM customers ORDER BY First_Name DESC""")
for i in name_ordered_result:
    print(i)

(5, 'Wes', 'Brown', 'wes.brown@gmail.com')
(1, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(2, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(6, 'Steven', 'Hoala', 'steven.hoala@gmail.com')
(4, 'Michel', 'Brown', 'michel.brown@gmail.com')
(3, 'Alan', 'Wake', 'alan.wake@gmail.com')

## XIII. And/Or

In [124]:
And_result = c.execute("""
SELECT rowid,* FROM customers 
WHERE First_Name Like 'T%' AND Last_Name Like 'N%'
ORDER BY rowid DESC""")
for i in And_result:
    print(i)

(2, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(1, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')

In [125]:
Or_result = c.execute("""
SELECT rowid,* FROM customers 
WHERE First_Name Like 'T%' OR Last_Name Like 'Br%'
ORDER BY rowid DESC""")
for i in And_result:
    print(i)

(5, 'Wes', 'Brown', 'wes.brown@gmail.com')
(4, 'Michel', 'Brown', 'michel.brown@gmail.com')
(2, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')
(1, 'Tien', 'Nguyen', 'tiennguyendm@gmail.com')